<h1>Specific user:</h1>

<div class="user-div">
  <%= image_tag(@user.photo, alt: "photo", class: "photo") if @user.photo.present? %>
  <div class= "user-details">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>

<div class="user-bio">
  <h2>Bio</h2>
  <p>
    <%= @user.bio %>
  </p>
</div>

<div class="user-posts">
  <h2>Posts</h2>
  <% @user.post.order(created_at: :desc).limit(3).each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, user_post_path(post.author, post) %></h2>
      <p><%= post.text %></p>
      <p class="counter">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>
  </br>
  <button class="see-all-posts">
    <%= link_to "Create A Post", new_user_post_path(@user) %>
  </button>
</div>

<div class="button-div">
  <button class="see-all-posts">
    <%= link_to "See All Posts", user_posts_path(@user) %>
  </button>
</div>
